/* Reset CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
li,
dl,
dt,
dd,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Weather Dashboard Styles */
  
  /* Form styles */
  .form-input {
    width: 70%;
  }
  
  /* Button styles */
  .search-button {
    width: 100%;
  }
  /* Forecast card styling with rounded edges */
.weather-card {
    background-color: #333; /* Dark grey background color */
    color: #fff; /* White text color */
    border: 1px solid #555; /* Dark border color */
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px; /* Add rounded corners */
  }
  