/* Reset CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
ol,
li,
dl,
dt,
dd,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Weather Dashboard Styles */
  
  /* Form styles */
  .form-input {
    width: 70%;
  }
  
  /* Button styles */
  .search-button {
    width: 100%;
  }
  